
.spanText{
    color: cadetblue;
    font-size: 40px;
}

.inputNormal {
    margin-top: 10px;
    height: 40px;
    font-size: 20px;
    width: 200px;
    text-align: center;
    border-radius: 8px;
    border: 3px solid cadetblue;
}
.inputError {
    margin-top: 10px;
    height: 40px;
    font-size: 20px;
    width: 200px;
    text-align: center;
    border-radius: 8px;
    background-color: red;
}
